@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --accent: #1ABC9C;
    --accent-darker: #16A085;

    --border-radius: 3px;
}

body {
    background: black;
    color: white;
}

.accent {
    color: var(--accent);
}

.accent-dark {
    color: var(--accent-darker);
}

/* All the hero stuff */
.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.herocontent {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    position: absolute;
    width: calc(100vw - 6rem);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 6rem;
}

.herocontent h1 {
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

.herocontentinner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.herobutton {
    padding: 0.5rem 1rem;
    background: var(--accent);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    font-size: 1.15rem;
    transition: 0.15s;
}

.herobutton:hover {
    background-color: var(--accent-darker);
}

.heroblur {
    position: absolute;
    width: 100vw;
    height: 100vh;
    filter: blur(5px);

    overflow: hidden;
}

.filler {
    height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4rem;
    z-index: 99;
}

.nav_background {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0,0,0,0.5);
}

.nav_content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 0 6rem;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.nav_links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.15rem;
    transition: color 0.15s;
}

.nav_links a:hover {
    color: var(--accent);
}

/* Making it simple */

.simplesection {
    margin-top: 6rem;
}

.simplesection_title {
    color: white;
    text-align: center;
    font-size: 3rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

